
.nav-style{
    background-color:  rgb(255,241,89);
    padding: 0px ;
    display: flex;
    flex-direction: row;
    
    

}

.container{


   
}


.img-style{
   
    height: 50px;
    width: 150px;

}

.img-style2{
   

}