
.nav-style{
    background-color:  rgb(255,241,89);
    padding: 0px ;
    display: flex;
    flex-direction: row;
    
    

}



.img-style{
   
    height: 50px;
    width: 150px;

}



.nav-menu-list{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.nav-menu-item{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;

}


a{

    color: #333;
    text-decoration: none;

}